<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        .product{
            border: 1px solid black;
            display: inline-block;
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<h1>Welcome to Shop!</h1>
<a href="/cart">Checkout</a>
<p>All Sum: {{allSum}}</p>
<div>
    {{#each products}}
        <div class="product">
            <h3>{{name}}</h3>
            <p>Price {{price}}</p>
            <a href="/add/{{@index}}">Add to cart</a>
            <a href="/remove/{{@index}}">Remove</a>
        </div>
    {{/each}}
</div>
</body>
</html>